body {
    background-color: #02111b;
    color: rgb(42, 237, 251);
    text-shadow: 0px 0px 6px rgba(42, 237, 251, 0.7);
}

/* unvisited link */
a:link {
    color: rgb(42, 237, 251);
}

/* visited link */
a:visited {
    color: rgb(52, 173, 182);
}

/* mouse over link */
a:hover {
    color: rgb(251, 42, 42);
}

/* selected link */
a:active {
    color: rgb(42, 237, 251);
}

h1 {
    font-weight: 700;
}

h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#header {
    padding: 5px;
    border: 1px solid rgb(42, 237, 251);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(42, 237, 251, 0.8);
    position: sticky;
    position: -webkit-sticky;
}

#header::after {
    content: "";
    clear: both;
    display: table;    
}

#storeContainer {
    margin-top: 5px;
}

#tabsContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0px;
    border: none;
    box-shadow: 0 0 10 rgba(42, 237, 251, 0.8);
    margin-top: 5px;
    position: sticky;
}

#tabsContainer div {
    float: left;
    display: block;
    width: 100%;
    padding: 1px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    background-color: #02111b;
    color: rgb(42, 237, 251);
    text-shadow: 0px 0px 6px rgba(42, 237, 251, 0.7);
    border: 3px solid rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
    text-decoration: none;
}
#tabsContainer div.active {
    background-color: rgb(42, 237, 251);
    color: #02111b;
    text-shadow: 0px 0px 10px rgb(14, 65, 68, 0.8), 0 0 1px rgb(14, 65, 68, 1);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}
#controlsContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#launcherImgContainer {
    height: 70px;
    margin-top: 25px;
}

#leftAngleImg, #rightAngleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/*#leftLauncherController {
}

#rightLauncherController {
}*/

#leftLauncherController, #rightLauncherController {
    padding: 5px;
    border: 1px solid rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 0.8);
    width: 125px;
}

#avatarContainer{
    margin: 5px;
    float: left;
    height: 100%;
}

#userNameContainer{
    float: left;
    line-height: 0.4;
    margin-left: 10px;
}

img#avatarImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(42, 237, 251, 0.9);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
    cursor: pointer;
} 

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
    cursor: pointer;
} 

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
    cursor: pointer;
} 

input[type=text] {
    width: 30px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    font-size: large;
    color: rgb(42, 237, 251);
    background-color: #02111b;
    border: 1px solid rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}

.leftPowerSlider, .rightPowerSlider, .leftAngleSlider, .rightAngleSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right,#02111b 0%, Red 100%);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 0.8);
}

#puckNumber {
    height: 100px;
}

#launchTitle {
    float: left;
    clear: both;
}

#leftLauncher {
    float: left;
}

#rightLauncher {
    float: right;
}

.powerContainer, .angleContainer, .powerDisplay {
    display: flex;
    justify-content: space-between;
}

.block:hover {      
    background-color: rgb(42, 237, 251);
    color: #02111b;
    text-shadow: 0px 0px 10px rgb(14, 65, 68, 0.8), 0 0 1px rgb(14, 65, 68, 1);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}

.block {
    display: block;
    width: 100%;
    padding: 7px 14px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;    
    background-color: #02111b;
    color: rgb(42, 237, 251);
    text-shadow: 0px 0px 6px rgba(42, 237, 251, 0.7);
    border: 2px solid rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}

.puckNumber {
    display: flex;
    justify-content: space-between;
}

.leftLauncher, .rightLauncher{
    width: 50%;
    margin-top: 10px;
}

#errorMessage {
    color: red;
    text-shadow: 0px 0px 6px rgba(255, 0, 0, 0.7);
}

.item {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid rgb(42, 237, 251);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(42, 237, 251, 0.8);
    height: 100px;
    line-height: normal;
}
/*.item:hover {
    cursor: pointer;
}*/
.items {
    /*display: flex;
    align-content: flex-start;*/
    height: 347px;
    overflow-y: scroll;
}
.items::-webkit-scrollbar {
    width: auto;
}

.items::-webkit-scrollbar-thumb {
    background-color: rgba(42, 237, 251, 1);
    outline: 1px rgb(42, 237, 251);
}
#trailImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.purchaseButton {
    align-content: flex-end;
    height: 23px;
    width: 79px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    background-color: #02111b;
    color: rgb(42, 237, 251);
    text-shadow: 0px 0px 6px rgba(42, 237, 251, 0.7);
    border: 2px solid rgb(42, 237, 251);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}

.purchaseButton:hover {
    background-color: rgb(42, 237, 251);
    color: #02111b;
    text-shadow: 0px 0px 10px rgb(14, 65, 68, 0.8), 0 0 1px rgb(14, 65, 68, 1);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}

.activatedButton {
    align-content: flex-end;
    height: 23px;
    width: 79px;
    font-size: 15px;
    text-align: center;
    border: 2px solid rgb(42, 237, 251);
    background-color: rgb(42, 237, 251);
    color: #02111b;
    text-shadow: 0px 0px 10px rgb(14, 65, 68, 0.8), 0 0 1px rgb(14, 65, 68, 1);
    box-shadow: 0 0 10px rgba(42, 237, 251, 1);
}