<div id="aboutContainer">
	<p>Stream Pucks is a pinball-like game that streamers and viewers play together.</p>
	<p>This extension is how you interact with the game. If the game is currently being streamed, you can click on the Launch tab to set up a launch. You should see a left and right launcher with controls. Set the angle, power, and how many pucks you want to launch for each launcher. Click Launch to queue your launch in the game being streamed. After a few seconds you should see your launch appear in the game's launch queue.</p>
	<p>Have any feedback? Have an issue? <a href="https://discord.gg/rsRVFGs" target="_blank">Join our discord</a> and let us know!</p>
	<p>Are you a streamer and want to play Stream Pucks on your channel? The game itself can be downloaded at <a href="https://streamgenie.tv/" target="_blank">https://streamgenie.tv/</a>. It will give you instructions for how to connect your twitch channel and install this extension.</p>
	<p>Created by <a href="https://streamgenie.tv/" target="_blank">Stream Genie</a>.</p>
</div>