<div id="avatarContainer">
    <img id="avatarImg" src="{{ avatarUrl }}" />
</div>
<div id="userNameContainer">
    <h1><span id="userName">{{ userName }}</span></h1>
    <h3>Pucks: <span id="totalPucks">{{ totalPucks }}</span></h3>
    <h3>Score: <span id="playerScore">{{ playerScore }}</span></h3>
</div>